/* .html Properties */

body {
    background-color: #2E2E2F;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 6.0rem;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 3.0rem;
}

h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

hr {
    border: 0.75px solid #2E2E2F;
    width: 75%;
}

/* <div> Properties */

.top-container {
    background-color: #2E2E2F;
    color: #DCAF5F;
    padding-bottom: 20px;
    padding-top: 100px;
    position: relative;
}

.mid-container {
    color: #2E2E2F;
    background-color: #DCAF5F;
    padding-bottom: 20px;
    position: relative;
}


.bottom-container {
    background-color: #2E2E2F;
    color: #DCAF5F;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* <img> Properties */

.profile {
    padding-top: 20px;
}

/* Icon Properties */

#html-icon {
    color: #E5632A;
}

#css-icon {
    color: #189ED8;
}

#python-icon {
    color: #F3C840;
}
